body {
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4089A9; /* Dark background color */
  justify-content: space-between;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white; /* Text color */
  text-align: center;
  padding: 14px 20px; /* Padding top and bottom, padding left and right */
  text-decoration: none;
  font-size: 20px;
}


.nav-link:hover {
    background-color: #5495B2; /* Darker background color on hover */
    font-size: 25px;
    color: white;
}
.w4 { width: 27.3%; }
.w5 { width: 17.1%; }


.search{
    --padding: 14px;
    display: flex;
    align-items: center;
    padding: var(--padding)
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    border-radius: 5px
}

.search-input {
    font-size: 12px;
    font-family:  'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 30px;

}

.asdf {
    font-size: 30px;
    background-color: #4089A9; /* Darker background color on hover */
    color: white;
}

.asdf:hover {
    font-size: 30px;
}
